body {
    main {
            
            section { 
                background-color: rgb(253, 234, 219);
                img {
                height: 100%;
                width: 100%;
            }
        }
    }
}