body {
    

    main {
background-color: rgb(253, 234, 219);
        section {
            
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media (max-width: 468px) {
    body {
    

        main {
    background-color: rgb(253, 234, 219);
            section {
                
                img {
                    height: 100%;
                    width: 100%;
                    padding-bottom: 115%;
                }
            }
        }
    }
}