footer { 
    background-color: rgb(130, 112, 72);
    div { 
               
        a {
            text-decoration: none;
            img {
                width: 3%;
            }
        }
    }
}
