body {
    main {
        div {

      
        a {
            img {
        
            width: 5%;
            position: fixed;
            right: 2%;
            bottom: 0%;
        }
        }
    }
}
    }