body {
    main {
        div {


            a {
                img {

                    width: 80%;
                    height: 10%;
                    position: fixed;
                    right: 0%;
                    bottom: 0%;

                }
            }
        }
    }
}